{{template config_path="design/email/header_template"}}

<p>Estimado/a {{var name}}</p>
<p>Le informamos que su pago se ha procesado correctamente, pero la financiación aún no ha sido aprobada.</p>
<p>Le hemos enviado un SMS con un enlace para concluir con el proceso de financiación, por su seguridad necesitamos que nos adjunte las fotos de su DNI/NIE así como una foto selfie para verificar que se trata de la mima persona.</p>
<p>Solo una vez realizadas correctamente (con suficiente luz, nítidas…) dichas fotos, su pedido será creado en la tienda y podrá hacer el seguimiento del mismo.</p>
<p>Si tiene cualquier duda puede escribirnos a <a href="mailto:info@payin7.com">info@payin7.com</a> o llamar el 91 164 99 94 en horario de atención al cliente.</p>

{{template config_path="design/email/footer_template"}}