/*
.payin7_calculator { 
    background: #225a85;
    border-color: #225a85;
}
.payin7_calculator p,
.payin7_calculator span {
    color: #fff;
    font-weight: bold;
}
.payin7_calculator .calc-body .btn span {
    color: #225a85;
}
.payin7_calculator .calc-body .btn {
    border-style: none !important;
    background: #fff;
    color: #225a85;
}

.payin7_calculator .calc-body .installments-count {
    color: #f00;
    border: 1px solid #fff;
    background-color: #FFF;
}

.payin7_calculator i.icon-info {
    border: 1px solid #FFF;
    color: #FFF;
}
*/