.payin7_calculator.categoryList { 
    background: #CCC;
    color: #000;
    border-color: #AAA;
}
.payin7_calculator p span.payin7Price {
    color: #000 !Important;
}

.payin7_calculator.categoryList p, .payin7_calculator.categoryList p span  {
    color: #000 !Important;
    font-weight: bold;
}